@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

:root {
    --header-text: "Source Serif Pro", serif;
    --main-text: "Montserrat", sans-serif;
    --light-green: #83AA9B;
    --dark-green: #123628;
    --text-color: var(--dark-green);
    --header-color: var(--light-green);
}